<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<body>
    <%= htmlWebpackPlugin.options.sitemap %>
    <section class="main-content">
        <h2>Pong App</h2>
        <div id="column-container">
            <div class="description">
                <a class="demo-link" href="#">
                    <img class="icon-link">Link (coming soon)</a>
                <a class="source" href="https://github.com/Skyler827/Lol-calculator">
                    <img class="icon-source">Source</a>
                <p>
                    The Pong app is a simple two player pong game with a 3D animated ball and pong 
                    paddles, controlled vis the up and down arrow keys.
                </p>
                <p>
                    I wrote this app to practice using websockets, 3D animation with three.js, and because I thought it would help me appreciate the complexity that goes into even simple games.
                </p>
                <h3>Features</h3>
                <ul>
                    <li>Users may register accounts and login</li>
                    <li>User accounts contain a username, email address, created/updated dates and times, and a password</li>
                    <li>When a user logs in, they may start a pong game lobby</li>
                    <li>When a second user connects, the can join the lobby and play begins</li>
                    <li>Pong is displayed in a 3D environment</li>
                    <li>Players can control their pong paddle with the up and down arrow keys</li>
                    <li>Background music can be played or stopped independently by either player</li>
                    <li>The ball starts slow but goes faster as play continues</li>
                    <li>Each player starts with ten points and play ends when either player goes down to 0 points</li>
                </ul>
                <h3>Technical details</h3>
                <ul>
                    <li>Writen in Java</li>
                    <li>Uses the Spring web framework with Spring Boot</li>
                    <li>Uses JPA to synchronize database state</li>
                    <li>Uses MariaDB (based on MySQL) to store data</li>
                    <li>Uses bcrypt to salt and hash account passwords</li>
                    <li>Uses websockets to synchronize game state between browser and server</li>
                    <li>Uses angular on the browser</li>
                    <li>Uses three.js to create 3D game envrionment</li>
                </ul>
            </div>
            <div class="images">
                <img class="screenshot login_registration">
                <img class="screenshot game">
                <img class="screenshot dashboard">
            </div>
        </div>
    </section>
</body>
</html>
