section.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 1200px) {
    section.skills {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 800px) {
    section.skills {
        grid-template-columns: 1fr 1fr;
    }

}
section.main h2 {
    text-align: center;
}
div.skill {
    margin: 5px;
    padding: 5px;
}
div.skill svg, div.skill img {
    height: 50px;
}
    div.skill.nginx svg {
        height: 40px;
    }
    div.skill.nginx p {
        margin-top:0;
    }
div.skill h3 {
    display: inline;
    vertical-align: top;
    padding-top: 15px;
}

div.skill.python {
    background-color: orange;
}
div.skill.javascript {
    background-color: #f0db4f;
}
div.skill.typescript {
    background: repeating-linear-gradient(
        135deg,
        #fff67a,
        #fff67a 50px,
        #a8afdd 60px,
        #a8afdd 100px,
        #fff67a 110px

    );
}
div.skill.java {
    background-color: rgb(183, 183, 255);
    color: #000000;
}
div.skill.linux {
    background-color: #202020;
    color: greenyellow;
}