* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
.site-map {
    background-color: black;
}
    .site-map div.home-link {
        display: inline-block;
    }
    .site-map a {
        display: inline-block;
        color: #66ccff;
        vertical-align: top;
        background-color: #000099;
        margin: 10px;
        padding: 8px 5px;
        position: relative;
    }
    .site-map a:hover {
        background-color: #0033cc;
        color: #88ccff;
    }
    .site-map a div.dropdown {
        position: absolute;
        top: 50px;
        visibility: hidden;
        background-color: rgba(20,20,80,50);
    }
    .site-map a div.dropdown.skills {
        width: 150px;
    }
    .site-map a div.dropdown.projects {
        width: 250px;
    }
        .site-map a div.dropdown p {
            margin: 10px;
        }
        .site-map a div.dropdown p:hover {
            background-color:rgba(30,30,120,50)
        }

.main-content {
    max-width: 1400px;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 15px;
    overflow: auto;
}
    .main-content p {
        text-indent: 30px;
        margin: 10px 0;
    }
    .main-content section {
        padding: 8px;
        margin: 10px 0;
    }
    .main-content section.main {
        background-color: beige;
    }
    .main-content section.project {
        background-color: lightskyblue;
    }
