* {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}
.site-map {
    background-color: black;
}
    .site-map div.home-link {
        display: inline-block;
    }
    .site-map a {
        display: inline-block;
        color: #66ccff;
        vertical-align: top;
        background-color: #000099;
        margin: 10px;
        padding: 8px 5px;
    }
    .site-map a:hover {
        background-color: #0033cc;
        color: #88ccff;
    }
    .site-map div.contact {
        display: inline-block;
        
    }
.main-content {
    font-size: 1.2em;
    margin-left: 200px;
    padding: 15px;
    padding-right: 300px;
    overflow: auto;
}
    .main-content p {
        text-indent: 30px;
        margin: 10px 0;
        text-align: justify;
    }
    .main-content section {
        padding: 8px;
        margin: 10px 0;
    }
    .main-content section.main {
        background-color: beige;
    }
    .main-content section.project {
        background-color: lightskyblue;
    }
