#column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.description ul {
    margin: 10px;
}
div.images {
    background-color: #777777;
}
img.screenshot {
    width: 800px;
    margin: 10px;
}
.demo-link, .source {
    margin: 10px;
}